---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del proyecto">
    <h1>Acerca de los Proyectos</h1>

    <p>Los lanzamientos de SpaceX son una demo de proyecto para Astro</p>    
</Layout>
